# Have a look at the docs for documentation.
# https://docs.paperless-ngx.com/configuration/

# Required services

PAPERLESS_REDIS={{ redis }}
PAPERLESS_DBHOST={{ db.get('host') }}
PAPERLESS_DBPORT={{ db.get('port') }}
PAPERLESS_DBNAME={{ db.get('name') }}
PAPERLESS_DBUSER={{ db.get('user') }}
PAPERLESS_DBPASS={{ db.get('password') }}
PAPERLESS_DBSSLMODE={{ db.get('ssl_mode') }}

# Security and hosting

PAPERLESS_SECRET_KEY={{ cfg.get('secret_key') }}
PAPERLESS_URL={{ cfg.get('url') }}

{% for k,v in cfg.get('env', {}) %}
{{ k }}={{ v }}
{% endfor %}